<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>Audi</title>
</head>
<body>

        <h1 class="new">Fakti par Audi automobīļiem</h1>

    <img class="atteli" src="/static/img/Audi.jpg" alt="Audi auto!">

    

   
    <ol>
        <li>Nē, Audi nebija pirmais automašīnu ražošanas uzņēmums, kuru izveidoja Augusts Horhs. Faktiski Horch 1899. gadā nodibināja automašīnu ražošanas uzņēmumu A. Horch un Cie. Horch automašīnu uzņēmums bija diezgan veiksmīgs un pat ieguva daudzas atzinības Eiropā. Taču 1909. gadā pēc zināmām domstarpībām ar investoriem Horch nolēma dibināt jaunu uzņēmumu, un tādējādi radās Audi.</li>
        <li>Iespējams, jūs domājat, ka avārijas testēšana ir salīdzinoši jauna izstrāde ar visiem manekeniem, kamerām un sensoriem. Bet tā nav taisnība! Audi ir veicis sadursmes testus jau ilgu laiku, tieši 75 gadus, un izmanto, lai demonstrētu drošību, ripot lejā ar Audi F7 no kalna.</li>
        <li>Audi kā galvenajā lomā ir redzami filmās kā kurjers 2 un kurjers 3,Dzelzs vīrs</li>
    </ol>

   



    <a href="/">Sākums</a>
    <a href="/BMW">BMW</a>
    <a href="/Audi">Audi</a>
    <a href="/Mercedes">Mercedes</a>
    <a href="/forma">Piedalīties loterijā!</a>


</body>
</html>