<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>BMW</title>
</head>
<body>

    <h1>BMW</h1>

    <img src="/static/img/BMW.jpg" alt="BMW auto!">

    <p><b>Fakti par BMW automašīnām.</b></p>


    <ol>
        <li>Vācijas Autošovā Berlīnē tiek atklāts BMW R 32: pirmais Maksa Frica vadībā ar zīmola vārdu izstrādātais motocikls, kas aprīkots ar horizontāli pretī novietotu divu cilindru, četru taktu Boxer tipa dzinēju.</li>
        <li>Pilots Volfgangs fon Gronauss paceļas gaisā Dornier «Wal» (valis) hidroplānā, ko darbina divi 600 ZS divpadsmit cilindru BMW Vlla tipa dzinēji, lai aizvadītu pasaulē pirmo lidojumu apkārt zemeslodei, kopumā mērojot 44 800 kilometrus</li>
        <li>7. ASV armijas vienības karavīri sasniedz tā saucamo ēnu rūpnīcu un nometni Allahā netālu no Minhenes. No 1939. gada decembra karagūstekņi, notiesātie, piespiedu darbinieki un koncentrācijas nometnēs ieslodzītie tika izmantoti kā darbaspēks šajā un arī citās uzņēmuma lidmašīnu dzinēju rūpnīcās.</li>
    </ol>

     



    <a href="/">Sākums</a>
    <a href="/BMW">BMW</a>
    <a href="/Audi">Audi</a>
    <a href="/Mercedes">Mercedes</a>
    <a href="/Loterija">Piedalīties loterijā!</a>


</body>
</html>