<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>Loterija</title>
</head>
<body>
    <h1 class="new">Auto izloze!</h1>
    <p class="new">Aizpildiet nepiciešamo informāciju, lai piedalītos izlozē.</p>
    <h2>{{ message }}</h2>
    <a href="/">Atpakaļ uz sākumu</a>
    <form action='/forma' method="POST">
      <fieldset>
        <label for="first-name">Vārds: <input id="first-name" name="first-name" type="text" required /></label>
        <label for="last-name">Uzvārds: <input id="last-name" name="last-name" type="text" required /></label>
        <label for="email">E-pastas adrese: <input id="email" name="email" type="email" required /></label>
      </fieldset>
      <fieldset>
        <label for="personal-account"><input id="personal-account" type="radio" name="account-type" class="inline" /> Esmu jau piedalījies loterijā.</label>
        <label for="business-account"><input id="business-account" type="radio" name="account-type" class="inline" /> Piedalīšos pirmo reizi.</label>
        <label for="terms-and-conditions" name="terms-and-conditions">
          <input id="terms-and-conditions" type="checkbox" required name="terms-and-conditions" class="inline" /> Es piekrītu <a href="https://www.freecodecamp.org/news/terms-of-service/">lietošanas nosacījumiem un privātuma politikai</a>
        </label>
      </fieldset>
      <input type="submit" value="Nosūtīt pieteikumu" />
    </form>
  
   
    


    <img class="atteli" src="/static/img/pic_left.png" alt="Loterija.">
    <img class="atteli" src="/static/img/mashinka.png" alt="Jauni auto no Vācijas">
    







</body>
</html>