<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>Auto fakti</title>
</head>
<body>
    <h1>Auto fakti</h1>
    <h2 class="nav">Saturs</h2>

        
    <a href="/">Sākums</a>
    <a href="/BMW">BMW</a>
    <a href="/Audi">Audi</a>
    <a href="/Mercedes">Mercedes</a>
    <a href="/forma">Piedalīties loterijā!</a>

    <p>Auto faktu mājas lapā ir interesantākie fakti un aizraujošākā informācija par auto. Atradīsiet tādus faktus, kā:
        
        <ol>
            <li>Chevrolet Imphala bija pirmā automašīna, kas tika pārdota vairāk nekā miljons eksemplāros. Tas notika 1965 gadā. Klasika.</li>
            <li>Gaisa spilvenam (airbag) ir nepieciešamas tikai 40 milisekundes lai piepūstos pēc negadījuma/avārijas, t.i. 0.04 sekundes.</li>
            <li>Garākais sastrēgums tika reģistrēts Francijā uz automaģistrāles posmā starp Parīzi un Lonu (Lyon). Tas bija 176 km garš, norisinājās 1980 gadā.</li>
        </ol>
    </p>

</p2>Vēsturiski fakti.
        <ol>
            <li>Kad BMW dibina filiāli Francijā, uzņēmums sāk pārņemt kontroli pār pārdošanas aktivitātēm starptautiskajos tirgos.</li>
            <li>1987. gada 22. maijs. Oficiāli tiek atvērta jauna BMW rūpnīca Regensburgā. Pirmais modelis, kas tajā tiek ražots, sākot ar 1986. gada beigām, ir BMW 3. sērijas sedans.</li>
            <li>2002. gada 31. decembris. BMW Group noslēdz gadu ar jauniem pārdošanas rekordiem. Pirmo reizi vairāk nekā miljons BMW un MINI zīmolu automobiļi tiek pārdoti viena gada laikā.</li>
        </ol>

</p2>





    
</body>
</html