<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>Mercedes</title>
</head>
<body>

    <h1 class="new">Fakti par Mercedes!</h1>


    <img class="atteli" src="/static/img/Mercedes.jpg" alt="Mercedes auto!">


   

    <ul>
        <li>Pirmo ar benzīnu darbināmo automobili 1886. gadā izgudroja Karls Benzs. Finansēja viņa sieva Berta Benca,
            benzīna transportlīdzeklim bija tikai trīs riteņi, un to sauca par "Motorwagen". Benz
            patentu Motorwagen darbināja viena cilindra četrtaktu dzinējs, kas lepojās ar pūslīšu veidošanos
            0,9 zirgspēki.</li>
        <li>Līdz 1924. gada vidum visi Mercedes-Benz automobiļi tika pārdoti ar bremzēm uz visiem četriem riteņiem –
            nostiprināt savu prioritāti drošībai. Pēc šī sasnieguma līdz 1931. gadam tika ieviests Mercedes
            170, kam bija piekare visos četros stūros. Priekšpusē lokšņu atsperes absorbēja nepilnības
            ceļu, savukārt aizmugure tika fiksēta ar inovatīvu atsperu piekares sistēmu.
            Veltīts drošībai, Mercedes turpināja ceļu satiksmes drošības pētījumus.</li>
        <li>Amerikāņu devīze, ka lielāka un apjomīgāka automašīna nozīmē drošāku braukšanu, Mercedes inženieris Béla Barényi
            nodibināja pētījumus, kas noveda pie saburzītu zonu attīstības. 1959. gadā īpašas šūnas ietvaros
            transportlīdzekļa virsbūve tika izstrādāta tā, lai trieciena rezultātā deformētos, izkliedētu spēku un samazinātu
            iekšpusē esošo pasažieru ietekme.</li>


    </ul>



    <a href="/">Sākums</a>
    <a href="/BMW">BMW</a>
    <a href="/Audi">Audi</a>
    <a href="/Mercedes">Mercedes</a>
    <a href="/forma">Piedalīties loterijā!</a>


</body>
</html>